* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Titre';
  src: url("Titre.ttf") format("truetype");
}

body {
    background : linear-gradient(0deg, rgb(123, 122, 133) 0%, rgb(196, 198, 226) 100%);
    font-family: 'Roboto', sans-serif;
    height: 75vh;
  }

  header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 20vh;
    background-color: rgb(151, 193, 231);
    background-image: url(header1.jpg);
    background-position: center;
    background-size: cover;
    }
  
    .up {
      vertical-align: middle;
      display: inline-flex;
      align-items: center;
    }

    .logo {
      margin-left: 5vw;
      height: 12vh;
      filter: drop-shadow(0px 0px 10px whitesmoke);
      min-height: 50px;
    }

    .boxconnex {
      float:right;
      flex-direction: column;
      align-items: center;
      margin: 0px 6vw;
    }

    .connex {
      margin-top: 1.2vh;
      margin-bottom: 0.3vh;
      height: 6vh;
      filter: brightness(0) drop-shadow(0px 0px 2px whitesmoke);
      min-height: 40px;
    }

    .connextxt,.boxbot {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.75);
      padding: 5px;
      color: whitesmoke;
      box-shadow: 3px 3px 10px black;
      font-size: 2.5vh;
     }

    .connex:hover,.logo:hover,.rs:hover {
        transform: scale(1.3);
        cursor:pointer; 
    }


    .titre {
      font-family: 'Titre';
      height: 14vh;
      font-size: 5.5vh;
      font-style: italic;
      color: whitesmoke;
      text-align: left;
      margin-left: 2vw;
      line-height: 14vh;
    }

    header nav {
      display: flex;   
      flex-wrap: wrap; 
    }
    
    .col{
      height: 6vh;
      display: flex;
      flex:calc(100%/7);
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-align: center;
      font-weight:auto;
      color: whitesmoke;
      line-height: 2.5vh;
      font-size: 1.8vh;
    }

    .loc {
      text-shadow: black 0.2vh 0.2vh;
    }

    .ext,.connextxt,.boxbot {
      background-color: rgba(255,255,255, 0.25);
      text-shadow: rgba(0, 0, 0, 0.25) 0.2vh 0.2vh;
      cursor:pointer; 
    }

    .ext:hover,.connextxt:hover,.boxbot:hover {
      background-color: rgba(255,255,255, 0.50) !important;
      color: black !important;
      text-shadow: rgba(255, 255, 255, 0.25) 0.2vh 0.2vh !important;

    }

    @media screen and (max-width:992px) {

      .logo {
        line-height: 11vh;
        height: 5vh;
        margin:0px 20px;
      }

      .boxbot{
        font-size: 1.5vh;
      }

      .rs {
        float: inline-start;
        margin: 0.5vh 0.5vw !important;
      }

      .connex {
        margin: 0px 3vw 0px 0px ;
        height:4vh;
      }

      .boxconnex {
        flex-direction: row;
        margin:0px 2vw;
      }

      .up {
        height: 11vh;
      }

      .main {
        flex-direction: column;
      }

      .titre {
        height: 11vh;
        vertical-align: middle;
        line-height: 11vh;
        font-size: 6vw;
      }
      .col {
        flex:calc(100%/4);
        height: 4.5vh;
        font-size: 1.8vh;
      }

      .imgtxt {
        font-size: 15px !important;
      }

      .imgmain {
        max-width: 100% !important;
        margin-bottom: 0vh !important;
      }

      #slider,#slidertxt { 
        margin: 0px 0px 25px 0px !important;
      }

      .btw {
        border-left: 1px solid whitesmoke ;
        border-right: 1px solid whitesmoke ;
        border-bottom: 1px solid whitesmoke ;
        margin-bottom: -1px;
      }
      .btw2 {
        border-right: 1px solid whitesmoke  ;
        border-top: 1px solid whitesmoke ;
      }
      .btw3 {
        border-left: 1px solid whitesmoke ;
        border-top: 1px solid whitesmoke ;
      }
    }

    @media screen and (min-width:992px) {

      #slider,#slidertxt,.imgtxt2 {
        max-width: 800px;
      }
      .btw,.btw2 {
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
     }
      .btw3 {
        border-left: 1px solid whitesmoke;
      }

      .imgtxt2 {
       margin-top: 10vh !important;
      }

    }

  .main {
    background-color: aqua;
    background-image: url(body.jpg);
    width: 100%;
    height: 100%;
    min-height: 75vh;
    background-size: 100%;
    text-align: justify;
    font-weight:auto;
    color: black;
    font-size: 15px;
    display: inline-flex;
  }


  #slider,#slidertxt { 
    width: 100%;
    overflow: hidden;
    margin: auto 5%;
  }

  #slidertxt {
    margin-left: 0pt;
  }

  #slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidertime infinite;
  }

  #slider figure img { 
    width: 20%; 
    height: auto; 
    float: left; 
  }

  .imgmain {
    width: auto;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 5vh;
  }

  .imgtxt {
    width: 20%; 
    height: auto; 
    float: left;
    text-align: justify;

    font-size: 1.5vh;
  }

  .imgtxt2 {
    height: auto; 
    font-size: 1.5vh;
    margin:5vh;
  }


  #slidertxt figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    text-align: left;
    float: right;
    animation: 30s slidertime2 infinite;
  }

  @keyframes slidertime {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

  @keyframes slidertime2 {
    0% { right: 0%; }
    20% { right: 0%; }
    25% { right: -100%; }
    45% { right: -100%; }
    50% { right: -200%; }
    70% { right: -200%; }
    75% { right: -300%; }
    95% { right: -300%; }
    100% { right: -400%; }
  }



  .zmu {
      width: 100%;
      height: 20vh;
    }

  .zmd {
      width: 100%;
      height: 5vh; 
    }

  footer {

      display: flex;
      flex: 1 1 0px;
      position: fixed; 
      bottom: 0;
      height: 5vh;
      width: 100%;
      background-color: rgb(151, 193, 231);
      background-image: url(header1.jpg);
      background-position: center;
      background-size: cover;

    }

  .boxbot2,.boxrs {
      display: inline-flex;
      flex: calc(100%/3);
      
    }
  
  footer div div {
    margin: auto;
    padding: 4px 5px !important;
  }


  .boxrs {
    display: inline;
  }

  .rs {
    float: right;
    height: 4vh;
    margin: 0.5vh 2vw;
    filter: drop-shadow(0px 0px 2px whitesmoke);
  }
  

  


  
  